html {
    box-sizing: border-box;
}
.calculator {
    border: 2px solid #ccc;
    border-radius: 5px;
}
.calculator-piece{
    width: 19%;
    height: 80px;
    border: black;
    padding-right: 20px;
    padding-left: 10px;
}
.calculator-field{
    color: #252525;
    background-color: #fff;
    text-align: right;
    font-size: 30px;
}
.calculator-field:hover{
    background-color: #cccccc;
}
.calculator-operator{
    color: #252525;
    background-color: aqua;
    text-align: center;
    font-size: 30px;
}
.calculator-operator:hover{
    background-color: darkturquoise;
}
.line
 {
     clear: both;
     width: 100%;
 }
.info{
    color:  white;
    text-align: center;
    font-size: 20px;
}
body{
    background-color: cadetblue;
}

footer {
    color: white;
    text-align: center;
}